@import "./partials/mixins";
@import "./partials/variables";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    overflow-x: hidden;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-weight: 400;
  }
  .layout-full {
    position: relative;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
  }
  
  .layout-visual {
    position: relative;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
  }
  .layout-content {
    position: relative;
    width: 100%;
    @include res-vw("M", padding, 0, $paddingMobile);
    @include screen("desktop") {
      max-width: (1410px + $paddingTablet + $paddingTablet);
      margin: 0 auto;
      @include res-vw("D", padding, 0, $paddingTablet);
    }
  }
  img {
    max-width: 100%;
    height: auto;
  }
  p + p {
    @include screen("desktop") {
      @include res-vw(D, padding-top, 30px);
    }
  }
  .page {
    width: 100%;
    overflow: hidden;
    height: 100vh;
  }
  .sec-portfolio-kv {
    background-color: #222;
    position: relative;
    .portfolio-kv-logo {
      color: #fff;
      width: 100%;
      text-align: center;
      @include res-vw(M, height, 100px);
      @include screen("desktop") {
        @include res-vw(D, height, 100px);
      }
      p {
        font-weight: 700;
        @include font-size(M, 40px);
        @include line-height(40, 100);
        @include screen("desktop") {
          @include font-size(D, 30px);
          @include line-height(30, 100);
        }
      }
    }
    .portfolio-kv-text {
      text-align: center;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      .portfolio-kv-sub {
        @include font-size(M, 40px);
        @include font-size(D, 40px);
      }
      .portfolio-kv-title {
        white-space: nowrap;
        @include font-size(M, 90px);
        @include line-height(90, 130);
        @include screen("desktop") {
          @include font-size(D, 150px);
          @include line-height(150, 200);
        }
      }
    }
  }
  .sec-portfolio-about {
    background-color: #222;
    height: max-content;
    @include res-vw(M, padding, 120px, 0, 120px, 0);
    @include screen("desktop") {
      @include res-vw(D, padding, 120px, 0, 60px, 0);
    }
    .portfolio-about-content-wrap {
      display: flex;
      height: max-content;
      justify-content: center;
      flex-direction: column;
      @include res-vw(M, gap, 100px);
      @include screen("desktop") {
        flex-direction: row;
        @include res-vw(D, gap, 100px);
      }
      .portfolio-about-img {
        flex-shrink: 0;
        position: relative;
        @include res-vw(M, width, 600px);
        margin: 0 auto;
        @include screen("desktop") {
          height: auto;
          @include res-vw(D, width, 500px);
        }
        .img-box {
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          transition: all 0.5s ease;
          @include res-vw(M, width, 300px);
          @include res-vw(M, height, 343px);
          @include screen("desktop") {
            @include res-vw(D, width, 350px);
            @include res-vw(D, height, 400px);
          }
          &.nomal-img {
            background-image: url('../images/portfolio-about-data-rotate-img0-pc.jpg');

          }
          &.rotate-img {
            position: absolute;
            background-image: url('../images/portfolio-about-data-rotate-img0-pc.jpg');
            @include res-vw(M, top, 20px);
            @include res-vw(M, left, 280px);
            transform: rotate(8deg);
            @include screen("desktop") {
              transform: rotate(16deg);
              @include res-vw(D, top, 186px);
              @include res-vw(D, left, 100px);
            }
          }
        }
      }
      .portfolio-about-text {
        color: #ebebeb;
        margin: 0 auto;
        @include res-vw(M, max-width, 600px);
        @include screen("desktop") {
          @include res-vw(D, max-width, 780px);
        }
        h2 {
          @include font-size(M, 40px);
          @include res-vw(M, padding-bottom, 30px);
          @include screen("desktop") {
            @include font-size(D, 45px);
            @include res-vw(D, padding-bottom, 35px);
          }
        }
        p {
          word-break: normal;
          overflow-wrap: break-word;
          @include font-size(M, 30px);
          @include line-height(30, 50);
          @include screen("desktop") {
            @include font-size(D, 28px);
            @include line-height(28, 45);
          }
          strong {
            font-weight: 700;
            cursor: pointer;
            position: relative;
            border-bottom: 1px solid #505050;
            &::before{
              content: '';
              position: absolute;
              width: 0;
              height: 100%;
              border-bottom: 1px solid #fff;
              transition: 0.5s;
              top: 0;
              left: 50%;
              transform: translateX(-50%);
            }
            &:hover::before{
              width: 100%;
            }
          }
        }
      }
    }
  }
  .sec-portfolio-work {
    background-color: #EFE2D2;
    overflow: hidden;
    .content-wrap {
      width: 100%;
      height: 100%;
      @include screen("desktop") {
        display: flex;
        flex-direction: row;
      }
      .svg-box {
        display: none;
        @include screen("desktop") {
          display: block;
          box-sizing: border-box;
          height: 100%;
          flex-shrink: 0;
          @include res-vw(D, width, 600px);
        }
        svg {
          opacity: 0;
        }
      }
      .work-list {
        background-color: #EFE2D2;
        flex-shrink: 0;
        height: 100%;
        display: flex;
        flex-direction: row;
        @include res-vw(M, width, 3000px);
        @include res-vw(M, gap, 50px);
        @include screen("desktop") {
          @include res-vw(D, width, 3000px);
          @include res-vw(D, gap, 50px);
        }
        .box {
          height: 100%;
          @include res-vw(M, width, 500px);
          background-color: #000;
          @include screen("desktop") {
            @include res-vw(D, width, 550px);
          }
        }
      }
    }
  }
  .sec-portfolio-skill {
    background-color: #C06A47;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    @include res-vw(M, padding, 120px, 0);
    @include screen("desktop") {
      @include res-vw(D, padding, 60px, 0);
    }
    .portfolio-skill-scroll-text {
      width: 100%;
      .cover {
        width: 100vw;
        display: flex;
        @include res-vw(M, margin-bottom, 50px);
        @include screen("desktop") {
          @include res-vw(D, margin-bottom, 100px);
        }
      }
      .cover:nth-child(1) {
        transform: rotate(-1deg);
        background-color: #ff3796;
      }
      
      .cover:nth-child(2) {
        transform: rotate(1deg);
        background-color: #ecfe04;
        justify-content: flex-end;
      }      
      p {
        color: #fff;
        display: flex;
        font-weight: 600;
        @include font-size(M, 50px);
        @include res-vw(M, padding, 30px, 0);
        @include screen("desktop") {
          @include font-size(D, 50px);
          @include res-vw(D, padding, 30px, 0);
        }
      }
    }
  }
  .footer {
    height: 100vh;
    background-color: #000;
  }







