// font
$font-en: "Montserrat";
$font-cn: "Montserrat";
$font-kr: "Montserrat";

// design size
$design-d: 1410;
$design-t: 1080;
$design-m: 768;

// layout padding
$paddingTablet: 30px;
$paddingMobile: 40px;


// global element variable
$sticky-gnb-height-limit: 40px;

// interaction variable
$dimed-animation-time: 0.9s;
